*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    /* Website kleur */
    --violet: #662d91;
    --lightest-purple: #faf3ff;
    --light-purple: #c5c9ff;
    --dark-blue: #21202d;
    --black: #000000;
    --cyan-blue: #29ffff;
    --grey: #444444;

    --titel-font: 'input-serif',
        serif;
    ;
    --tekst-font: 'interstate',
        sans-serif;
    ;
    --link-font: 'input-serif',
        serif;

}

/*********************/
/* ALGEMENE STIJLING */
/*********************/

html,
#eerste-pagina,
#tweede-pagina {
    height: 100vh;

}

#eerste-pagina {
    background-image: url(../images/mechanic-pattern.png);
}

h1 {
    font-family: var(--titel-font);
    font-weight: 700;
}

p,
li {
    font-family: var(--tekst-font);
    font-weight: 400;
    line-height: 1.7;
}

a {
    text-decoration: none;
    font-family: var(--link-font);
    color: var(--grey);
}

a:hover,
button:hover {
    cursor: url(../images/pointer.png), pointer;
}



li {
    list-style: none;
}

header {

    padding: .5em;

}

header ul {
    padding: .5em;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
}

header ul li:nth-of-type(3) {
    position: absolute;
    right: 2em;
}

header li a {
    background-color: var(--light-purple);
    padding: 1em .9em;
}


/******************/
/* EERSTE PAGINA  */
/******************/

/********/
/* MAIN */
/********/


/*************/
/* section 1 */
/*************/
#eerste-pagina section:nth-of-type(1) {
    margin: 3em 0;
    display: grid;
    place-items: center;
    align-items: center;
    gap: 1em;
}

#image {
    display: grid;
    place-items: center;
}

#image img {
    width: 45%;
}

#image p {
    position: absolute;
    top: 5em;
    left: 5em;
    width: 15em;
    line-height: 1.7;
    text-align: center;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3),
        0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    animation: float 5s ease-in-out infinite;
    transform: translateY(0px);
}

#image p::after {
    content: "";
    position: absolute;
    bottom: -4em;
    height: 50px;
    width: 50px;
    background-color: white;
    /* box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.256); */
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3),
        0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    animation: float2 5s ease-in-out infinite;
    transform: translateY(0px);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

/* https://codepen.io/kirstenallen/pen/MWwPYYm */
/* https://codepen.io/rikschennink/pen/mjywQb */

#robot-animation {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }

    55% {
        transform: translatey(-20px);
    }

    60% {
        line-height: 10px;
    }

    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

/* Button-glitch */
.button-container {
    position: relative;
    background-color: var(--cyan-blue);
    padding: 1.5em;
    width: fit-content;
}



.button-container button {
    background: none;
    border: none;
    font-family: var(--link-font);
    font-weight: bold;
}

.button {
    z-index: -1;
    position: absolute;
    background-color: var(--cyan-blue);
    width: 40px;
    height: 40px;
}


.button.button-box1 {
    right: 3em;
    bottom: -1em;
}

.button.button-box2 {
    right: -3em;
    top: .5em;
}

.button.button-box3 {
    right: -.5em;
}

/* Eigen karakter */

#inleiding-pagina img:last-child {
    bottom: 0;
    left: 20%;
    position: absolute;
    width: 8%;


}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.loader-finish {
    opacity: 0;
    pointer-events: none;
}


/*****************/
/* TWEEDE PAGINA */
/*****************/

#tweede-pagina main {
    display: grid;
    gap: 5em;
    place-items: center;
    overflow-x: hidden;
    /* margin: 0 auto;
    width: 90%; */
}

#tweede-pagina section {
    display: grid;
    padding: 3em 6em;

}


/*************/
/* SECTION 1 */
/*************/
/* Inleiding section */
/* #tweede-pagina  main{
    background: url(../images/mechanic-pattern.png);
} */

#tweede-pagina section:nth-of-type(1) {
    background-image: url(../images/mechanic-pattern.png);
    background-size: 30vw;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    /* padding: 3em; */

}

#tweede-pagina section:nth-of-type(1) h1 {
    font-size: 2em;
    padding-bottom: 1em;
}

#tweede-pagina section:nth-of-type(1) img {
    width: 80%;
    place-self: center;
}

#tweede-pagina section:nth-of-type(1) p {
    position: relative;
    background-color: white;
    padding: 1em;
}

#tweede-pagina section:nth-of-type(1) p::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: -1em;
    right: -2em;
    width: 100px;
    height: 100px;
    background-color: white;
}

#tweede-pagina section:nth-of-type(1) p::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 5em;
    right: -2em;
    width: 20px;
    height: 20px;
    background-color: white;
}

/*************/
/* SECTION 2 */
/*************/
/* Kunst is dood stuk */
#tweede-pagina section:nth-of-type(2) {
    position: relative;
    background-color: var(--dark-blue);
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /* padding: 3em; */
}

#tweede-pagina section:nth-of-type(2) p {
    color: var(--cyan-blue);
    font-size: .9em;

}

#tweede-pagina section:nth-of-type(2) p span {
    font-size: 2em;
}

#tweede-pagina section:nth-of-type(2) h2 {
    color: var(--cyan-blue);
    font-family: var(--titel-font);
    line-height: 1.5;
    padding: 1em 0;

    font-size: 2em;
}

/* Blokjes */
.box {
    z-index: 1;
    position: absolute;
    background-color: var(--dark-blue);
    width: 10vw;
    height: 10vh;
}

.box.box1 {
    top: -3em;
    transform: translateX(30em);
    width: 20vw;
}

.box.box2 {
    bottom: -5em;
    height: 12vh;
    width: 7vw;
    transform: translatex(10em);
}

.box.box3 {
    bottom: -2em;
    height: 12vh;
    width: 7vw;
    transform: translatex(20em);
}

.box.box4 {
    bottom: -7em;
    height: 19vh;
    width: 20vw;
    transform: translatex(30em);
}

.box.box5 {
    bottom: -7em;
    height: 15vh;
    width: 15vw;
    transform: translatex(68em);
}


/*************/
/* SECTION 3 */
/*************/
/* Ai als kunstmedium */
#tweede-pagina section:nth-of-type(3) {
    position: relative;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    /* padding: 3em; */
}

#tweede-pagina section:nth-of-type(3) h1 {
    font-size: 1.5em;
    padding-left: 1em;
}



#tweede-pagina section:nth-of-type(3)>p {
    background-color: var(--light-purple);
    position: absolute;
    bottom: -15%;
    left: 30%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    width: 50vw;
    padding: 1.5em;
}

#tweede-pagina section:nth-of-type(3)>p::before {
    content: "";
    background-color: var(--light-purple);
    position: absolute;

    right: 1em;
    top: -3em;
    height: 100px;
    width: 100px;
}

#tweede-pagina section:nth-of-type(3)>p::after {
    content: "";
    background-color: var(--light-purple);
    position: absolute;

    left: 1em;
    bottom: -1em;
    height: 50px;
    width: 50px;
}

#tweede-pagina section:nth-of-type(3) article p {
    background-color: white;
    padding: 2em;
}

#tweede-pagina section:nth-of-type(3) article p span {
    font-weight: bold;
}

/**************/
/* SECTION 4  */
/**************/
/* Verlamd door mogelijkheden */

#tweede-pagina section:nth-of-type(4) {
    margin: 3em 0;
    grid-template-columns: 1fr 1fr;
}

#tweede-pagina section:nth-of-type(4) article {
    padding: 3em;
}

#tweede-pagina section:nth-of-type(4) h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

#tweede-pagina section:nth-of-type(4) p span {
    display: block;
    margin: 1em 0;
}
/*************/
/* SECTION 5 */
/*************/
/* De tijdlijn */
#tweede-pagina section:nth-of-type(5) {
    position: relative;

}




#v0 {
    /* overflow:scroll; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
}




/*************/
/* SECTION 6 */
/*************/

#tweede-pagina section:nth-of-type(6) {
    background-color: var(--lightest-purple);
    position: relative;
    grid-template-columns: 1fr 1.5fr;
    align-items: end;
}

#tweede-pagina section:nth-of-type(6) article {
    padding: 2em;
}

#tweede-pagina section:nth-of-type(6) h1 {
    padding: 2em 0;
    font-size: 3vw;


}


/*************/
/* SECTION 7 */
/*************/
#tweede-pagina section:nth-of-type(7) {
    background: url(../images/mechanic-pattern.png);
    background-size: 30vw;
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#tweede-pagina section:nth-of-type(7) figure {
    object-fit: cover;
    width: 130%;
}

#tweede-pagina section:nth-of-type(7) h1 {
    font-size: 1.5em;
    line-height: 1.5;

}

#tweede-pagina section:nth-of-type(7) span {
    color: var(--violet);
    font-size: 1.2em;
}

/*************/
/* SECTION 8 */
/*************/
#tweede-pagina section:nth-of-type(8) {
    position: relative;
    grid-template-columns: 1fr;
}

#tweede-pagina section:nth-of-type(8) p {
    position: absolute;
    top: 10em;
    left: 10em;
    width: 20vw;
}

/*************/
/* SECTION 9 */
/*************/

/* #tweede-pagina section:nth-of-type(9) {
    place-items: center;
} */

#tweede-pagina section:nth-of-type(9) article {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

}





/* Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */

.container {
    position: relative;
    width: 300px;
}

figure img {
    display: block;
    width: 300px;

}

.overlay {
    display: grid;
    place-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--light-purple);
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 20px;

}