*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    /* Website kleur */
    --violet: #662d91;
    --light-purple: #c5c9ff;
    --dark-blue: #21202d;
    --black: #000000;
    --cyan-blue: #29ffff;
    --grey: #444444;

    --titel-font: 'input-serif',
        serif;
    ;
    --tekst-font: 'interstate',
        sans-serif;
    ;
    --link-font: 'input-serif',
        serif;

}

/*********************/
/* ALGEMENE STIJLING */
/*********************/

html,
#eerste-pagina,
#tweede-pagina {
    height: 100%;
}

#eerste-pagina {
    background-image: url(../images/mechanic-pattern.png);
}

h1 {
    font-family: var(--titel-font);
    font-weight: 700;
}

p,
li {
    font-family: var(--tekst-font);
    font-weight: 400;
    line-height: 1.7;
}

a {
    text-decoration: none;
    font-family: var(--link-font);
    color: var(--grey);
}

a:hover,
button:hover {
    cursor: url(../images/pointer.png), pointer;
}



li {
    list-style: none;
}

header {

    padding: .5em;

}

header ul {
    padding: .5em;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
}

header ul li:nth-of-type(3) {
    position: absolute;
    right: 2em;
}

header li a {
    background-color: var(--light-purple);
    padding: 1em .9em;
}


/******************/
/* EERSTE PAGINA  */
/******************/

/********/
/* MAIN */
/********/


/*************/
/* section 1 */
/*************/
#eerste-pagina section:nth-of-type(1) {
    margin: 3em 0;
    display: grid;
    place-items: center;
    align-items: center;
    gap: 1em;
}

#image {
    display: grid;
    place-items: center;
}

#image img {
    width: 45%;
}

#image p {
    position: absolute;
    top: 5em;
    left: 5em;
    width: 15em;
    line-height: 1.7;
    text-align: center;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3),
        0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    animation: float 5s ease-in-out infinite;
    transform: translateY(0px);
}

#image p::after {
    content: "";
    position: absolute;
    bottom: -4em;
    height: 50px;
    width: 50px;
    background-color: white;
    /* box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.256); */
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3),
        0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    animation: float2 5s ease-in-out infinite;
    transform: translateY(0px);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

/* https://codepen.io/kirstenallen/pen/MWwPYYm */
/* https://codepen.io/rikschennink/pen/mjywQb */

#robot-animation {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }

    55% {
        transform: translatey(-20px);
    }

    60% {
        line-height: 10px;
    }

    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

/* Button-glitch */
.button-container {
    position: relative;
    background-color: var(--cyan-blue);
    padding: 1.5em;
    width: fit-content;
}



.button-container button {
    background: none;
    border: none;
    font-family: var(--link-font);
    font-weight: bold;
}

.box {
    z-index: -1;
    position: absolute;
    background-color: var(--cyan-blue);
    width: 40px;
    height: 40px;
}


.box.button-box1 {
    right: 3em;
    bottom: -1em;
}

.box.button-box2 {
    right: -3em;
    top: .5em;
}

.box.button-box3 {
    right: -.5em;
}

/* Eigen karakter */

#inleiding-pagina img:last-child {
    bottom: 0;
    left: 20%;
    position: absolute;
    width: 8%;


}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.loader-finish {
    opacity: 0;
    pointer-events: none;
}


/*****************/
/* TWEEDE PAGINA */
/*****************/

#tweede-pagina main{
    display: grid;
    gap: 5em;
    place-items: center;
    /* margin: 0 auto;
    width: 90%; */
}

#tweede-pagina section {
    display: grid;
    padding: 3em 6em;

}


/*************/
/* SECTION 1 */
/*************/
/* #tweede-pagina  main{
    background: url(../images/mechanic-pattern.png);
} */

#tweede-pagina section:nth-of-type(1) {
background-image: url(../images/mechanic-pattern.png);
grid-template-columns: 1fr 2fr;
/* padding: 3em; */

}

#tweede-pagina section:nth-of-type(1) h1 {
    font-size: 2em;
    padding-bottom: 1em;
}

#tweede-pagina section:nth-of-type(1) img {
    width: 80%;
    place-self: center;
}

#tweede-pagina section:nth-of-type(1) p {
    position: relative;
    background-color: var(--cyan-blue);
    padding: 1em;
}

#tweede-pagina section:nth-of-type(1) p::before {
    content: "";
    z-index: 0;
    position: absolute;
    bottom: -1em;
    right: -2em;
    width: 100px;
    height:100px;
    background-color: #29ffff;
}

#tweede-pagina section:nth-of-type(1) p::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 5em;
    right: -2em;
    width: 20px;
    height: 20px;
    background-color: #29ffff;
}
/*************/
/* SECTION 2 */
/*************/
#tweede-pagina section:nth-of-type(2) {
    position: relative;
    background-color: var(--dark-blue);
    grid-template-columns: 1fr 2fr;
    /* padding: 3em; */
}

#tweede-pagina section:nth-of-type(2) p {
    color:var(--cyan-blue);
    font-size: .9em
}

#tweede-pagina section:nth-of-type(2) p span {
  font-size: 2em;
}

#tweede-pagina section:nth-of-type(2) h2 {
    color: var(--cyan-blue);
    font-family: var(--titel-font);
    line-height: 1.5;
    padding: 1em 0;

    font-size: 2em;
}

/*************/
/* SECTION 3 */
/*************/

#tweede-pagina section:nth-of-type(3) {
     grid-template-columns: 1fr 1.5fr;
     /* padding: 3em; */
}


#tweede-pagina section:nth-of-type(3) p {
background-color: white;
padding: 2em;
}

#tweede-pagina section:nth-of-type(3) p span {
    display: block;
    margin: 1em 0;
}

/**************/
/* SECTION 4  */
/**************/
#tweede-pagina section:nth-of-type(3) {
    grid-template-columns: ;
}